/* Button Background color font size change */
.btn-bg {
  background-color: #f78b1f;
  font-size: 20px;
}

/* Button with Outline */
.btn-no-bg {
  border-color: #f78b1f;
  font-size: 20px;
}

.card-hover-effect:hover {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  /* border: 1px solid black; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-shadow-effect{
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  /* border: 1px solid black; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.heading-line::before {
  content: "";
  margin: 0 0 10px 0px;
  width: 60px;
  height: 2px;
  background: #f78b1f;
  display: inline-block;
}
.heading-line::after {
  content: "";
  margin: 0 0 10px 0px;
  width: 60px;
  height: 2px;
  background: #f78b1f;
  display: inline-block;
}

.line-heading{
  content: "";
  margin: 0 0 5px 0px;
  padding-left: 0px;
  width: 80px;
  height: 3px;
  background: #f78b1f;
  display: inline-block;
}

.card-img-height-width{
  width: 129px;
  height: 116;
}
